<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/cloud.png">
  <link rel="stylesheet" href="/css/styles.css">
  <title>About page</title>
</head>

<body>

  <div class="main-content">
    {{>header}}

    <p>This site was created by Andrew Mead. It uses data from mapbox.com</p>
    <img src="https://lawanaresort.com/wp-content/uploads/2019/02/about-us.jpg" alt="" class="wolf">

  </div>


  {{>footer}}
</body>

</html>