<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/cloud.png">

  <link rel="stylesheet" href="/css/styles.css">
  <title>Help page</title>
</head>

<body>

  <div class="main-content">
      {{>header}}
    <img
    src="https://st2.depositphotos.com/6367796/9368/v/450/depositphotos_93685540-stock-illustration-pop-art-comics-icon-help.jpg"
    alt="" class="wolf">

    <div>{{helpText}}</div>

  </div>





    {{>footer}}

</body>

</html>