<!DOCTYPE html>
<html lang="en">
<head>
  <title>Weather application</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
  
</head>
<body>
  
  <div class="main-content">
    {{>header}}
    <p>Use this form to get your weather!</p>
    <div id='powerfull'>{{age}}</div>

    <form>
      <input type="text" placeholder="enter city" id="city">
      <button>Search</button>
    </form>

   <img src="/img/wolf.jpg" alt="" class="wolf">
  </div>

  
  {{>footer}}

  <script src="/js/app.js"></script>
</body>
</html>